:root{
  --text_color_one:#191825;
  --text_two:#19182580;
  --text_tree:#f85E9f;
}
.hero{
  display: grid;
  grid-template-columns: 50% 50%;
}
.icon_text > h3{
  font-size: 1.3em;
  color: var(--text_color_one);
}
.icon_text{
  margin: 20px;
  color: var(--text_two) ;
}
.icon{
  display: flex;
  justify-content: center;
  align-items: center;
  background: no-repeat;
}
.icon > div{
  background:no-repeat;
}
body{
  margin: 0;
}
.title1{
  color: var(--text_tree);
}
.title2{
  color: var(--text_color_one);
}
.hero > dev > p{
  color:var(--text_two);
}
.hero_img{
  margin: 5% 0 0 0;
}
image{
  position: relative;
}
.image1{
  position: absolute;
  z-index: -1;
}
.image2{
  margin: 0 0 0 13%;
  top: 45%;
  position: absolute;
  z-index: 2;
}
.hero > div:nth-child(1) > p{
  color: var(--text_two);
}
.hero1 > div:nth-child(1){
  padding:0 5% 0 20%;
}

