@import url('https://fonts.cdnfonts.com/css/darkline');

.imageOne{
  background: url(/public/images/BoxOne.svg);
}
.card{
  margin: 20px 30px ;
}
.logo{
  font-family: 'Darkline', sans-serif;
}
body{
  margin:0;
}

.text h2{
  font-size: 3em;
  font-weight: 400;
  color: rgb(184,194,206) linear-gradient(0deg, rgba(184,194,206,1) 0%, rgba(38,38,38,1) 100%);

}